.App {
  display: grid;
  margin: auto;
  justify-content: space-between;
  max-width: 550px;
  grid-template-areas: "top top" "area sidebar";
  grid-template-rows: 20px 1fr;
  grid-template-columns: 1fr 180px;
  gap: 7px;
  margin-top: 7px;
}

.App__top {
  grid-area: top;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.App__top>div {
  display: flex;
  height: 100%;
  align-items: center;
}

.App__top .top--left {
  gap: 5px;
}

.App__top ul {
  display: flex;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  gap: 5px;
}

.App__top ul li {
  width: 30px;
  list-style: none;
  justify-content: center;
}

.App__area {
  grid-area: area;
  background-color: var(--contrast-color);
  border-radius: 4px;
  padding: 10px;
}

.App__sidebar {
  grid-area: sidebar;
}

.list-ticker {
  width: 100%;
}

.list-ticker li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--contrast-color);
  padding: 10px;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

.list-ticker li:hover {
  background-color: var(--contrast-color-active);
}

.list-ticker li:first-child {
  margin: 0;
}

.list-ticker li.active {
  background-color: var(--contrast-color-active);
}

.list-ticker small {
  font-size: 10px;
  height: 10px;
  color: var(--light-color);
  font-weight: 600;
}

.ticker-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-percentage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.color-green {
  color: var(--color-green) !important;
}

.color-red {
  color: var(--color-red) !important;
}

.area__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.area__top>div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.area__top h1 {
  font-size: 18px;
}

.area__top small {
  position: relative;
  bottom: -2px;
  font-size: 10px;
  font-weight: 600;
  color: var(--light-color);
}

.area__price {
  display: flex;
  flex-direction: column;
}

.area__price h2 {
  font-size: 24px;
}

.area__price small {
  font-size: 10px;
  font-weight: 600;
  color: var(--light-color);
  position: relative;
  left: -3px;
}

.area__price p {
  font-size: 11px;
  font-weight: 600;
  margin-top: -3px;
}

.area__price p svg {
  position: relative;
  bottom: -1px;
}

.area__chart {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  background-color: var(--contrast-color-active);
}

.card-stat:hover {
  background-color: var(--contrast-color-active);
}

.card-stat p {
  font-size: 10px;
  color: var(--light-color)
}

.card-stat small {
  font-size: 8px;
  font-weight: 500;
}